<!DOCTYPE html>
<!-- https://stackoverflow.com/questions/32298844/d3-js-stacked-bar-chart-from-vertical-to-horizontal-->
<head>
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

rect:hover {  opacity:0.7; }


div.tooltip {   
    position: absolute;         
    text-align: center;         
    //width: 60px;                    
    //height: 28px;                   
    padding: 2px;               
    font: 12px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;           
}

</style>
<title>Contributions in {{municipality.name}} in {{year}}</title>
</head>
<body>
<h2>Contributions in {{municipality.name}} in {{year}}</h2>
</body>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script>
    
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.responseType = 'json';
  xmlhttp.onload = function() {
    var json_resp=xmlhttp.response;
    //console.log(json_resp);
    barplot(json_resp.data,json_resp.meta);
  };
  xmlhttp.open("GET", "{% url 'json_municipality_year' municipality.id year %}", true);
  xmlhttp.send();
    
var margin = {top: 20, right: 200, bottom: 30, left: 300},
    width = 1200 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var y = d3.scale.ordinal()
    .rangeRoundBands([height, 0], .1);

var x = d3.scale.linear()
    .rangeRound([0, width]);

var color = d3.scale.ordinal()
   // .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);
    .range(["#6b486b", "#a05d56","#ff8c00"]);

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .tickFormat(d3.format(".2s"));

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
var div = d3.select("body").append("div")   
    .attr("class", "tooltip")               
    .style("opacity", 0);

barplot = function(data,meta){

  color.domain(d3.keys(data[0]).filter(function(key) { return key !== "meta"; }));

  data.forEach(function(d) {
    var y0 = 0;
    d.ages = color.domain().map(function(name) { return {name: name, y0: y0, y1: y0 += +d[name],meta: d.meta}; });
    d.total = d.ages[d.ages.length - 1].y1;
  });

  data.sort(function(a, b) { return -(b.total - a.total); });

  y.domain(data.map(function(d) { return d.meta.name; }));
  x.domain([0, d3.max(data, function(d) { return d.total; })]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
     // .attr("transform", "rotate(-90)")
     // .attr("y", 6)
     // .attr("dy", ".71em")
     // .style("text-anchor", "end")
     // .text("Population");

  var name = svg.selectAll(".bar")
      .data(data)
      .enter().append("g")
      .attr("class", "bar")
      .attr("transform", function(d) { return "translate(0," + y(d.meta.name) + ")"; });

  name.selectAll("rect")
      .data(function(d) { return d.ages; })
      .enter()
      .append("a")
      .attr("href",function(d) { return d.meta.link[d.name]; })
      .append("rect")
      .attr("height", y.rangeBand())
      .attr("x", function(d) { return x(d.y0); })
      .attr("width", function(d) { return x(d.y1) - x(d.y0); })
      .style("fill", function(d) { return color(d.name); })
      .on("mouseover", function(d) {        
            div.transition()        
               .duration(200)       
               .style("opacity", .9);       
            div.html(d.meta.desc[d.name]) 
               .style("left", (d3.event.pageX) + "px")      
               .style("top", (d3.event.pageY - 28) + "px"); 
            console.log(d);
            })                  
        .on("mouseout", function(d) {       
            div.transition()        
                .duration(500)      
                .style("opacity", 0);   
        });

  var legend = svg.selectAll(".legend")
      .data(color.domain().slice())
    .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  legend.append("rect")
      .attr("x", width + 6)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

  legend.append("text")
      .attr("x", width+18 +18)
      .attr("y", 9)
      .attr("dy", ".35em")
      //.style("text-anchor", "end")
      .text(function(d) { return meta[d]; });

};
</script>
